body {
    background: #C6C6C6;
}

header {
    background: white;
    max-height: 300px;
}

header:after {
    max-height: 200px;
    content: '';
    display: table;
    clear: both;
}

header form {
    max-width: 300px;
    border: none;
}

header form .form-control {
    border: none;
}

.dropdown {
    float: right;
}

.btn-warning {
    border: none;
    color: #EFEFEF;
    background: #282828;
}

.search-field {
    float: left;
}

.icon-search {
    max-width: 20px;
    max-height: 15px;
    margin-left: -13px;
    margin-bottom: -20px;
}